version: '3.8'
services:
  db:
    image: mysql:latest
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: tests
      MYSQL_USER: user
      MYSQL_PASSWORD: pass
    ports:
      - "3307:3307"
    volumes:
      - db_data:/var/lib/mysql

  go:
    build:
      context: .
      dockerfile: ./Dockerfile
    restart: always
    ports:
      - "8080:8080"

volumes:
  db_data:
